/* 
Resources
https://24ways.org/2018/managing-flow-and-rhythm-with-css-custom-properties/

 */
 :root {
   --text-color: hsl(210, 24%, 16%);
   --heading-color: hsl(209, 18%, 30%);
   --page-background: hsl(49,100%,96%);

}
 .flow {
    margin-top: 1em; /* for older browsers */
  --flow-space: 1em;
}  

.flow > * + * { 
  margin-top: var(--flow-space);
}

h2 {
  --flow-space: 3rem;
}