@import url('reset.css');


body {
    font-family: 'Host Grotesk', sans-serif;
    font-size: 16px;
}
h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 2em;
    margin-bottom: 0.75em;
}

h3 {
    font-size: 1.75em;
    margin-bottom: 1em;
}

h4 {
    font-size: 1.5em;
    margin-bottom: 1.25em;
}

h5 {
    font-size: 1.25em;
    margin-bottom: 1.5em;
}

h6 {
    font-size: 1em;
    margin-bottom: 1.75em;
}

p {
    font-size: 1em;
    margin-bottom: 1.5em;
}


h2 {
    color: blue;
}