:root {
  --highlight-color: hsl(49, 89%, 70%);
  --tag-bg: hsl(48, 94%, 68%);
  --tag-text: hsl(15, 86%, 30%);
  --text-color: hsl(210, 24%, 16%);
  --heading-color: hsl(209, 18%, 30%);
  --page-background: hsl(49,100%,96%);
  --border-deco: hsl(42,87%,55%);
  --allGray: grayscale(100%);
}

html {
  font-size: 18px;
}

/* Resets box-model so that widths and heights arent affected by borders or padding. */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
.box {
  display: inline-block;
  width: 150px;
  height: 150px;
  padding: 10px;
  background: tomato;
  color: white;
  border: 10px solid red;
}
.content-box {
  box-sizing: content-box;
}

header {
  border-radius: 8px;
  padding: 0.5rem;
}

.byline {
  font-style: italic;
}


body {
  line-height: 1.7;
  background-color: var(--page-background);
  color: var(--text-color);
  max-width: 650px;
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  border-top: 0.5rem solid var(--border-deco);
  font-family: Georgia, serif;
}

p {
  font-size: 1rem;
}
/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  margin-top: 1rem;
  color: var(--heading-color);
}

h1 {
  padding-top: 2rem;
  font-size: 3rem;
  letter-spacing: 0.8px;
}

h2 {
  font-size: 1.2rem;
}

/* lists */

ul {
  list-style-type: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0;
  margin-block-start: 0;
}

li {padding-top: 1rem;}

li p {
  margin-bottom: 0;
}

time + ul {
  padding:0;
}

.logEntry {padding-top: 1.5rem;}

/* links */
a {
  color: var(--text-color);
}



.highlight {
  background: var(--highlight-color);
  border-radius: 0.1rem;
  margin: 0;
  padding: 2px;
  line-height: 1.5;
  padding: 0.1rem 0.5rem;
}



time {
  font-variant: small-caps;
  /* background-color: var(--tag-bg); */
  border-top: 0.1rem solid var(--border-deco);
  color: var(--tag-text);
  padding-top: 1rem;

}

.clDayName {
  font-size: 1rem;
  vertical-align: middle;

}

.clDayNum {
  font-size: 2.5rem;
  vertical-align: middle;

  
}

footer {
  padding-top: 2rem;
}

.socialLinks {
  display: flex;
  flex-direction: row;
}

.socialLinks li { 
  margin-left: 1rem;
}
/* content type specific emojis */

.read:before {
  content: "👓 ";
  filter: grayscale(100%);
}

/* blockquote */
blockquote {
  font-size: 1rem;
  /* width:60%; */
  margin:1rem auto;
  padding:1.2em 30px 1.2em 75px;
  border-left:0.5rem solid var(--border-deco);
  line-height:1.6;
  position: relative;
  background:hsl(24, 100%, 95%);
}

blockquote::before {
  content: "\201C";
  color: var(--border-deco);
  font-size:4rem;
  position: absolute;
  left: 10px;
  top:-10px;
}

p.quote-citation::before {
     content: "— ";
}


#redd {
  color:red;
}

.green {
  color:green;
}