:root {
  --highlight-color: hsl(49, 89%, 70%);
  --tag-bg: hsl(240, 25%, 46%);
  --tag-text: hsl(190, 66%, 78%);
  --text-color: hsla(182, 94, 94, 0);
  --heading-color: hsl(240, 25%, 46%);
}

html {
  font-size: 18px;
}

header {
  border-radius: 8px;
  padding: 0.5rem;
}

body {
  line-height: 1.4;
  background-color: hsl(0, 0, 93);
  color: var(--text-color);
  max-width: 650px;
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  border-top: 0.5rem solid hsl(240, 25%, 46%);
  font-family: Georgia, serif;
}

p {
  font-size: 1rem;
}
/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  margin-top: 1rem;
  color: var(--heading-color);
}

h1 {
  padding-top: 2rem;
  font-size: 3rem;
  letter-spacing: 0.8px;
}

h2 {
  font-size: 1.2rem;
}

/* lists */

ul {
  list-style-type: none;
}

ul {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

li {
  padding-top: 1rem;
  
  
}

}

.highlight {
  background: var(--highlight-color);
  border-radius: 0.1rem;
  margin: 0;
  padding: 2px;
  line-height: 1.5;
  padding: 0.1rem 0.5rem;
}



time {
  font-variant: small-caps;
  background-color: var(--tag-bg);
  color: var(--tag-text);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.2rem;
  padding-bottom: 0.4rem;
  border-radius: 0.3rem;
}

footer {
  padding-top: 2rem;
}

.socialLinks {
  display: flex;
  flex-direction: row;
}

.socialLinks li {
  margin-left: 1rem;
}
